.kitchen-div {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  grid-column: 3;
  grid-row: 1 / span 2;
}

.appliances {
  display: flex;
  position: absolute;
  top: 0;
}
