.kitchen-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}

.kitchen-parent {
  position: relative;
}

.child-flex {
  position: absolute;
  top: 0;
  display: flex;
}
