body {
  font-family: Helvetica;
  background-color: #242526;
}

.App {
  display: flex;
  height: 100vh;
}

.floorplan-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
